{{ define "main" }}

<article>
  <header>
    <div class="bg-primary-600 text-white text-sm px-5 py-2">
        <a class="text-white underline capitalize" href="{{ .Parent.RelPermalink }}">{{ .Parent.Section }}</a> | 
        <span>{{ .Title }}</span>
    </div>
    {{ partial "v2/hero.html" (dict "context" . "params" .Params.hero) }}
  </header>
  <section class="px-5 py-12 max-w-md mx-auto prose">
    {{ .Content }}
  </section>
</article>


<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ .Title }}",
      "wordcount": "{{ countwords .Content }}",
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.BaseURL }}{{ site.Params.logo_jpg }}"
        }
      },
      "url": "{{ .RelPermalink }}",
      "datePublished": "{{ .Date.Format $.Site.Params.time_format_default }}",
      "dateModified": "{{ .Lastmod.Format $.Site.Params.time_format_default }}",
      "description": "{{ .Description }}",
      "articleBody": {{ plainify .Content }},
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .RelPermalink }}"
      },
      "image": [
        {{ $img := .Resources.GetMatch "**" }}
        {{ $img = $img.Fill "1000x1000" }}
        "{{ $img.RelPermalink }}",
        {{ $img = $img.Fill "1200x900" }}
        "{{ $img.RelPermalink }}",
        {{ $img = $img.Fill "1600x900" }}
        "{{ $img.RelPermalink }}"
      ],
      "author": {
        "@type": "Person",
        "name": "{{ .Params.author }}"
      }
    }
  </script>
{{ end }}