<section class="my-16 px-8 lg:my-40">
  <ul
    class="max-w-screen-2xl mx-auto space-y-12 lg:grid lg:grid-cols-2 lg:space-y-0 lg:gap-y-10 2xl:grid-cols-3 2xl:gap-8">
    {{ range .items }}
    <li class="list-none bg-neutral-50 max-w-sm mx-auto">
      <img alt="{{ .alt }}" src='{{ ((resources.GetMatch (print "images/" .img)).Fill "550x550 webp q90").RelPermalink }}'>
      <div class="p-8">
        <h3>{{ .h3 }}</h3>
        <p>{{ .p }}</p>
        <a class="btn bg-primary-600 text-white" href="{{ .a_href }}">{{ .a }}</a>
      </div>
    </li>
    {{ end }}
  </ul>
</section>
