{{ define "main" }}

<article>
    <header>
        <div class="bg-primary-600 text-white text-sm px-5 py-2">
            <a class="text-white underline capitalize" href="{{ .Parent.RelPermalink }}">{{ .Parent.Section }}</a> |
            <span>{{ .Title }}</span>
        </div>

        {{ $img := resources.GetMatch (print "images/uploads/" .Params.hero.img) }}

        {{ $img := $img.Resize "1920x" }}

        {{ $span := .Parent.Title }}
        {{ with .Params.hero.span }}{{ $span = . }}{{ end }}

        {{ with .Params.hero }}
        <section class="bg-cover bg-center" style="background-image: url('{{ $img.RelPermalink }}')">
            <div class="bg-neutral-900 bg-opacity-60 pt-12 lg:pt-0">
                <div class="container">
                    <div class="text-white">
                        <div
                            class="py-12 px-8 sm:max-w-md sm:mx-auto md:col-start-1 md:row-start-1 lg:py-40 lg:max-w-xl">
                            <span
                                class="block text-secondary-400 uppercase tracking-widest text-sm mb-4 lg:text-base">{{
                                $span }}</span>
                            <h1>{{ .h1 }}</h1>
                            <p>{{ .p }}</p>
                            {{ $a := "Book an Appointment" }}
                            {{ $a_href := .Site.Params.bookingLink }}
                            {{ if .a }}
                            {{ $a = .a }}
                            {{ $a_href = .a_href }}
                            {{ end }}
                            <a class="btn btn-alt" href="{{ $a_href }}">{{ $a }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ end }}

    </header>
    <section class="px-5 py-12 max-w-md mx-auto prose">
        {{ .Content }}
    </section>
</article>


<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ .Title }}",
      "wordcount": "{{ countwords .Content }}",
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.BaseURL }}{{ site.Params.logo_jpg }}"
        }
      },
      "url": "{{ .RelPermalink }}",
      "datePublished": "{{ .Date.Format $.Site.Params.time_format_default }}",
      "dateModified": "{{ .Lastmod.Format $.Site.Params.time_format_default }}",
      "description": "{{ .Description }}",
      "articleBody": {{ plainify .Content }},
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .RelPermalink }}"
      },
      "image": [
        {{ $img := resources.GetMatch (print "images/uploads/" .Params.hero.img) }}
        {{ $img = $img.Fill "1000x1000" }}
        "{{ $img.RelPermalink }}",
        {{ $img = $img.Fill "1200x900" }}
        "{{ $img.RelPermalink }}",
        {{ $img = $img.Fill "1600x900" }}
        "{{ $img.RelPermalink }}"
      ],
      "author": {
        "@type": "Person",
        "name": "{{ .Params.author }}"
      }
    }
  </script>
{{ end }}