<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ .Title }}",
    "wordcount": "{{ countwords .Content }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "/{{ .Site.Params.logo }}"
      }
    },
    "url": "{{ .RelPermalink }}",
    "datePublished": "{{ .Date.Format $.Site.Params.time_format_default }}",
    "dateModified": "{{ .Lastmod.Format $.Site.Params.time_format_default }}",
    "description": "{{ .Description }}",
    "articleBody": {{ plainify .Content }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .RelPermalink }}"
    },
    "image": [
      "/1x1-{{ .Site.Params.logo }}",
      "/4x3-{{ .Site.Params.logo }}",
      "/16x9-{{ .Site.Params.logo }}"
    ],
    "author": {
      "@type": "Person",
      "name": "{{ .Params.author }}"
    }
  }
</script>