{{ define "main" }}

<div class="bg-neutral-50 py-2 px-5">
  <ul class="flex max-w-screen-xl mx-auto">
    <li>
      <a class="mr-1" href="{{ .Parent.RelPermalink }}">{{ .Parent.Title }}</a>
    </li>
    <li>
      <p class="mb-0">| {{ .Title }}</p>
    </li>
  </ul>
</div>

<article class="px-5 py-12 max-w-md mx-auto lg:grid lg:grid-cols-3 lg:gap-16 lg:max-w-screen-lg">
  <header class="lg:mt-16">
    {{ $img := (.Resources.GetMatch "feature").Fill "540x540 center" }}
    <img src="{{ $img.RelPermalink }}">
    <h1 class="font-body font-bold mt-8 lg:hidden">{{ .Title }}</h1>
  </header>
  <section class="mt-16 lg:col-span-2">
    <h1 class="font-body font-bold hidden lg:inline">{{ .Title }}</h1>
    {{ .Content }}
  </section>
</article>

{{ end }}