{{ partial "banners/banner_primary" .Site.Params.call_to_action }}

<footer class="bg-primary-600 text-white py-12 px-5">
  <div class="max-w-screen-2xl mx-auto lg:grid lg:grid-cols-4 lg:gap-12">
    <div class="pb-4 border-b border-primary-400 lg:border-b-0">
      <img class="h-10" src='{{ (resources.GetMatch "logo/logo-white.svg").RelPermalink }}'>
    </div>
    <div class="py-4 border-b border-primary-400 lg:border-b-0">
      <h4>Sitelinks</h4>
      <nav>
        <ul>
          {{ range .Site.Menus.main }}
          <li>
            <a class="text-white" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="py-4 border-b border-primary-400 lg:border-b-0">
      <h4>Address</h4>
      <p class="font-bold">Rotorua Pullman Hotel</p>
      <p>1135 Arawa Street, Rotorua 3010</p>
      <p><a class="underline text-white" href="@TODO">Google maps</a></p>
      <p>Tel: <a class="text-white" href="tel:+6473439760">+64 7 343 9760</a></p>
    </div>
    <div class="pt-4 text-sm">
      <p>©2020 Massage Eden - All rights reserved | <a class="text-white" href="/privacy">Privacy</a> | <a class="text-white" href="/terms">Terms</a></p>
    </div>
  </div>
</footer>
