{{ if ne .Params.footer_banner false }}
{{ partial "banners/banner_primary" .Site.Params.call_to_action }}
{{ end }}

<footer class="bg-primary-600 text-white py-12 px-5">
  <div class="max-w-screen-2xl mx-auto lg:grid lg:grid-cols-4 lg:gap-12">
    <div class="pb-4 border-b border-primary-400 lg:border-b-0">
      <img alt="Massage Eden logo in white." class="h-10"
        src='{{ (resources.GetMatch "logo/logo-white.svg").RelPermalink }}'>
    </div>
    <div class="py-4 border-b border-primary-400 lg:border-b-0">
      <p class="font-bold">Sitelinks</p>
      <nav>
        <ul>
          {{ range .Site.Menus.main }}
          <li>
            <a class="text-white" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          <li>
            <a class="text-white" href="/pricelist">Pricelist</a>
          </li>
          <li>
            <a class="text-white" href="/blog">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="py-4 border-b border-primary-400 lg:border-b-0">
      <p class="font-bold">Locations</p>
      <ul>
        {{ range .Site.Params.locations }}
        <li>
          <a class="text-white" href="{{ .URL }}">{{.name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="py-4 border-b border-primary-400 lg:border-b-0">
      <p class="font-bold">Find us on</p>
      <ul>
        {{ range .Site.Menus.social }}
        <li>
          <a class="text-white flex items-center" href="{{ .URL }}">
            {{ partial (print "icons/" .Pre) (dict "class" "fill-current w-4 h-4 mr-2") }}
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="pt-4 text-sm lg:text-center lg:col-span-4">
      <p>©2021 Massage Eden - All rights reserved | <a class="text-white" href="/privacy/">Privacy</a> | <a
          class="text-white" href="/terms/">Terms</a> | <a class="text-white" href="/policies/">Policies</a> | <a
          class="text-white" href="https://massagemedayspa.co.nz/">Massage Me Day Spa</a></p>
    </div>
  </div>
</footer>

{{ if .IsHome }}{{ partial "schema/web-site.html" . }}{{ end }}
{{ if .IsHome }}{{ partial "schema/day-spa.html" . }}{{ end }}

{{ partial "schema/web-page.html" . }}
{{ partial "schema/breadcrumb.html" . }}