<header id="site-nav"
  class="{{ if eq .Params.fixed_header true }} fixed text-white {{ else }}sticky{{ end }} lg:sticky top-0 z-50 w-full lg:bg-white">
  <div class="px-5 py-4 flex items-center">
    <a href="{{ .Site.Home.RelPermalink }}" title="Home">
      {{ if eq .Params.fixed_header true }}
      <img alt="Massage Eden logo in white" class="logo-white h-10 md:hidden"
        src='{{ (resources.GetMatch "logo/logo-white.svg").RelPermalink }}'>
      {{ end }}
      <img alt="Massage Eden logo"
        class="{{ if ne .Params.fixed_header true }}inline-block{{ end }} logo-main h-10 md:inline-block"
        src='{{ (resources.GetMatch "logo/logo.svg").RelPermalink }}'>
    </a>
    <div class="hidden ml-auto lg:block">
      <ul class="flex space-x-4 text-sm uppercase tracking-wide">
        {{ range .Site.Menus.main }}
        <li class="leading-none {{ if .Children }}has-children{{ end }}">
          <a class="text-neutral-900" href="{{ .URL }}">{{ .Name }}</a>
          {{ with .Children }}
          <ul class="py-4 absolute bg-white px-5 shadow-sm" style="margin-left:-1.25rem;">
            {{ range . }}
            <li>
              <a class="text-neutral-900 py-2 block" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </div>
    <a href="{{ .Site.Params.bookingLink }}" class="btn btn-sm btn-primary ml-auto lg:ml-12">Book online</a>
    <a href="#" title="Open mobile navigation" id="site-header-menu-button" class="ml-4 bars lg:hidden">
      {{ partial "icons/bars.html" (dict "class" "fill-current h-8") }}
    </a>
  </div>
  <div class="fixed inset-0 z-50 bg-white text-neutral-900 px-5 hidden" id="mobile-nav">
    <a class="absolute right-0 top-0 p-5" href="#" title="Close mobile navigation" id="site-header-close-button">
      {{ partial "icons/times.html" (dict "class" "fill-current h-8") }}
    </a>
    <nav class="mt-24 max-w-md mx-auto">
      <ul class="font-bold text-primary-600 text-2xl">
        {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
          {{ with .Children }}
          <ul class="ml-4">
            {{ range . }}
            <li>
              <a class="text-neutral-900" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>

<script>
  document.addEventListener("scroll", () => {
    if (window.pageYOffset > 0) {
      document.querySelector('#site-nav').classList.add('is-active');
    } else {
      document.querySelector('#site-nav').classList.remove('is-active');
    }
  })
  document.querySelector('#site-header-menu-button').addEventListener('click', () => {
    document.querySelector('#mobile-nav').classList.remove('hidden');
  })
  document.querySelector('#site-header-close-button').addEventListener('click', () => {
    document.querySelector('#mobile-nav').classList.add('hidden');
  })

</script>