<section class="my-16 px-8 lg:my-40">
  <div class="max-w-screen-2xl mx-auto lg:grid lg:grid-cols-2 lg:items-center">
    <div class="mb-8 lg:mb-0 lg:col-start-2">
      {{ partial "image.html" (dict "img" .img "size" "400x600" "class" "mx-auto md:h-full md:object-cover" "alt" .alt) }}
    </div>
    <div class="max-w-md mx-auto lg:row-start-1 xl:max-w-lg">
      <h2>{{ .h2 }}</h2>
      <p>{{ markdownify .p }}</p>
      <div class="xl:grid xl:grid-cols-2 xl:gap-4">
        <a href="{{ .a_1_href }}" class="btn w-full text-center mb-4 bg-primary-600 text-white xl:w-auto xl:mb-0">{{ .a_1 }}</a>
        <a href="{{ .a_2_href }}" class="btn btn-alt btn w-full text-center xl:w-auto">{{ .a_2 }}</a>
      </div>
    </div>
  </div>
</section>
